# EAS Build archive ignore file
# Exclude build caches and local outputs, but KEEP .env

node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Prebuild native folders
/ios
/android
